<div class="container">
    <div>
        <h2 class="text-center m-4">Lista</h2>
        <form class="container">
            <label class="control-form">Escreva um valor</label>
            <input class="form-control mb-2"
                            type="text"
                            placeholder="Estou pensando em..."
                            value={{valor}}/>

            <div class="mt-4 d-flex fustify-content-between">
                <button class="btn btn-primary px-4" type="button">
                    Gravar
                </button>
                <button class="btn btn-outline-secondary" type="button">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>